@media (max-width: 1400px) {
  .agenda-block .spec-back-agenda:before {
    left: -70px;
  }
  .agenda-block .spec-back-agenda:after {
    right: calc(50% - 50vw);
  }
}
@media (max-width: 1200px) {
  header .hero-title {
    margin-bottom: 50px;
  }
  header .logo-block p {
    margin-top: 50px;
  }
  header .scroll-button a {
    width: 90px;
  }
  .info-section {
    padding: 80px 0 60px;
  }
  .info-section p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .benefits-section {
    padding: 70px 0 50px;
  }
  .benefits-section .reasons-block {
    padding-bottom: 45px;
  }
  .benefits-section .reasons-block .spec-back-first:before {
    height: 80%;
  }
  .benefits-section .reasons-block .reasons-list {
    padding: 40px 35px 40px 40px;
  }
  .benefits-section .reasons-block .reasons-list:after {
    content: none;
  }
  .benefits-section .reasons-block .reasons-list .reason-item h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .benefits-section .reasons-block .reasons-list .reason-item .item-icon {
    min-width: 80px;
    margin-right: 40px;
  }
  .benefits-section .reasons-block .register-button a {
    width: 500px;
    font-size: 24px;
  }
  .benefits-section .learn-block .skill-item .skill-img {
    min-height: 90px;
    max-height: 90px;
  }
  .benefits-section .learn-block .skill-item .skill-img img {
    max-height: 90px;
  }
  .agenda-block {
    padding: 55px 0 170px;
  }
  .agenda-block .spec-back-agenda:before {
    left: -20px;
  }
  .agenda-block .agenda-item .agenda-item-container .ag-date h5 {
    font-size: 22px;
  }
  .agenda-block .agenda-item .agenda-item-container .ag-name p {
    font-size: 26px;
  }
  .agenda-block .agenda-item .agenda-item-container .ag-cat .cat-item {
    height: 60px;
  }
  .location-block {
    padding: 30px 0 50px;
  }
  .location-block a {
    font-size: 22px;
    line-height: 26px;
  }
  .location-block .location-spec-back {
    padding-top: 25px;
  }
  .registration-block {
    padding: 45px 0 50px;
  }
  .registration-block .registr-form-container label {
    font-size: 20px;
  }
  .registration-block .registr-form-container input[type=submit] {
    font-size: 26px;
  }
}
@media (max-width: 992px) {
  body h2 {
    font-size: 35px;
    line-height: 40px;
  }
  body h2 br {
    display: none;
  }
  body .custom-col-12 {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  header .logo-block p {
    font-size: 22px;
  }
  .benefits-section .reasons-block {
    padding-bottom: 55px;
  }
  .benefits-section .reasons-block .spec-back-first:before {
    top: 150px;
  }
  .benefits-section .reasons-block .reasons-list {
    margin-top: 50px;
  }
  .benefits-section .reasons-block .image-block {
    display: none;
  }
  .benefits-section .reasons-block .register-button {
    margin-top: 40px;
  }
  .benefits-section .reasons-block .register-button a:hover {
    background-color: #006ecc;
    color: #fff;
    letter-spacing: 6px;
    border-color: transparent;
  }
  .benefits-section .learn-block {
    padding-bottom: 95px;
  }
  .benefits-section .learn-block .skill-item .skill-name h4 {
    font-size: 22px;
  }
  .agenda-block {
    padding: 55px 0 130px;
  }
  .agenda-block .spec-back-agenda {
    margin-top: 50px;
  }
  .agenda-block .spec-back-agenda:before {
    left: 0px;
    height: 98%;
  }
  .agenda-block .agenda-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .agenda-block .agenda-item .agenda-item-container .ag-desc p {
    font-size: 18px;
  }
  .agenda-block .agenda-item .agenda-item-container .ag-desc #readMoreBTN {
    font-size: 20px;
  }
  .location-block a {
    font-size: 20px;
    line-height: 24px;
  }
  .registration-block {
    padding: 45px 0 20px;
  }
  .registration-block .registr-form-container input {
    height: 65px;
  }
  .registration-block .registr-form-container input[type=submit] {
    margin-top: 30px;
  }
  .registration-block .registr-form-container input[type=submit]:hover {
    background-color: #006ecc;
    color: #fff;
    letter-spacing: 6px;
    border-color: transparent;
  }
  .registration-block .registr-form-container label.container:last-child {
    margin-bottom: 30px;
  }
  footer {
    height: 50px;
  }
  footer p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .benefits-section .reasons-block .reasons-list .reason-item h4 {
    font-size: 22px;
  }
  .benefits-section .reasons-block .reasons-list .reason-item p {
    font-size: 18px;
  }
  .benefits-section .reasons-block .reasons-list .reason-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .benefits-section .reasons-block .register-button a {
    height: 70px;
    font-size: 18px;
    width: 100%;
  }
  .benefits-section .learn-block {
    padding-top: 25px;
  }
  .benefits-section .learn-block .spec-back-second:before {
    right: 50%;
  }
  .agenda-block .spec-back-agenda:before {
    left: -30px;
  }
  .location-block .location-spec-back:after {
    height: 150px;
  }
  .registration-block .registr-form-container label.container {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .benefits-section .reasons-block .reasons-list .reason-item {
    display: block;
  }
  .benefits-section .reasons-block .reasons-list .reason-item .item-icon {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .benefits-section .reasons-block .reasons-list .reason-item .item-icon img {
    max-height: 80px;
  }
  .benefits-section .reasons-block .reasons-list .reason-item .reason-desc {
    width: 100%;
    text-align: center;
  }
  .registration-block .registr-form-container input[type=submit] {
    font-size: 18px;
    height: 70px;
  }
  .registration-block .registr-form-container textarea {
    height: 200px;
  }
}
